<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img</key>
	<array>
		<string>atom.jpg</string>
		<string>bodyslam.jpg</string>
		<string>Getsunova.jpg</string>
		<string>room39.jpg</string>
		<string>stamp.png</string>
	</array>
	<key>details</key>
	<array>
		<string>ชนกันต์ (อ่านว่า ชะ - นะ - กัน) รัตนอุดม (ชื่อเล่น อะตอม ; เกิดเมื่อวันที่ 15 ธันวาคม พ.ศ. 2534) เป็นนักร้องและนักแต่งเพลงชาวไทย มีผลงานการแต่งเพลงให้กับศิลปินอย่าง ดา เอนโดรฟินในเพลง รักเอย และเพลงปล่อย ของป็อป ปองกูล ชนกันต์เป็นศิลปินในสังกัดไวท์มิวสิกและปล่อยซิงเกิลเปิดตัว ในช่วงต้นปี พ.ศ. 2558 พลีส (Please)[1][2][3] จนขึ้นชาร์ทเป็นอันดับต้น ๆ ในหลายวิทยุ[4] กลางเดือนมิถุนายนปีเดียวกันนี้ ทางแกรมมี่ได้ปล่อยตัวอย่างซิงเกิลลำดับที่สองของอะตอม ชนกันต์ แผลเป็น (SCAR) และต้นปี พ.ศ. 2559 ก็ได้ปล่อยซิงเกิ้ล ทางของฝุ่น และปลายปี พ.ศ. 2560 - มกราคม พ.ศ. 2561 ได้ตำแหน่งรองชนะเลิศในรายการ The Mask Singer หน้ากากนักร้อง ในนามหน้ากากนางอาย[5]</string>
		<string>บอดี้สแลม (อังกฤษ: Bodyslam) เป็นวงดนตรีร็อกสัญชาติไทยจากกรุงเทพมหานคร ก่อตั้งขึ้นในปี พ.ศ. 2545 เป็นวงดนตรีที่ได้รับความนิยมในประเทศไทย สมาชิกวงที่เป็นที่รู้จักกันดีจากวงนี้คือ นักร้องนำของวง อาทิวราห์ คงมาลัย (ตูน) โดยเพลงส่วนใหญ่ได้อิทธิพลมาจากดนตรีร็อกจากฝั่งสหรัฐอเมริกาในยุคต้นคริสต์ทศวรรษ 1990 ผสมผสานกับดนตรีแนวโพรเกรสซิฟร็อก[1] บอดี้สแลมประสบความสำเร็จกับอัลบั้มชุดแรกของวง ซึ่งมีชื่ออัลบั้มเป็นชื่อเดียวกันกับวง หลังจากนั้นก็ได้ออกจำหน่ายอัลบั้มชุดต่อมา ไดรฟ์ ในปี พ.ศ. 2546 และตามด้วยการออกงานแสดงคอนเสิร์ต</string>
		<string>เก็ตสึโนวา (อังกฤษ: getsunova) คือวงดนตรีจากค่ายไวท์มิวสิก ในเครือจีเอ็มเอ็ม แกรมมี่ มีเพลงสร้างชื่อและเป็นที่รู้จักคือ ไกลแค่ไหนคือใกล้ โดยมีแนวเพลงป็อปร็อก ที่ผสมผสานแนวดนตรีโพสต์พังก์และบริตป็อปด้วย[1]คำว่า [เก็ตสึโนวา] มาจากคำสองภาษา [เก็ตสึ] เป็นภาษาญี่ปุ่น แปลว่าพระจันทร์ ส่วน [โนวา] เป็นภาษาอังกฤษ แปลว่าดาวดวงใหม่ รวมกันเป็นพระจันทร์กับดาวดวงใหม่ ซึ่งทางวงเห็นว่าเป็นชื่อที่แปลกดีจึงนำมาตั้งเป็นชื่อวง[2][3][4]</string>
		<string>รูม 39 (Room39) เป็นกลุ่มดนตรีในสังกัดเลิฟอีส ประกอบด้วยสมาชิกคือ ทอม-อิศรา กิจนิตย์ชีว์, มน-ชุติมน วิจิตรทฤษฎี และ โอ-โอฬาร ชูใจ รวมตัวกันที่ร้านอาหารชื่อ [เครื่องเทศ] ในลอสแอนเจลิส สหรัฐอเมริกา ซึ่งภพธร สุนทรญาณกิจ ได้แสดงดนตรีที่ร้านนี้ด้วยเช่นกัน หลังจากนั้นพวกเขาได้ทดลองนำเพลงผู้อื่นมาร้อง และลงวิดีโอในเว็บไซต์ยูทูป จนบอย โกสิยพงษ์ นักแต่งเพลงได้เห็นผลงานของพวกเขาผ่านยูทูป จึงได้ติดต่อมาทำอัลบั้มร่วมกัน[1] ชื่อวง รูม 39 มาจากหมายเลขห้องในอะพาร์ตเมนต์ที่พวกเขาเริ่มทำงานด้วยกันรูม 39 มีซิงเกิลแรกคือ หน่วง ซึ่งได้บอย โกสิยพงษ์ ร่วมแต่งเนื้อร้อง และสุธี แสงเสรีชน เป็นผู้ผลิต แม้ว่าในตอนแรกนั้น ซิงเกิลแรกของพวกเขาที่จะปล่อยออกสู่สาธารณชน คือ รักใครไม่ได้อีก แต่ในภายหลัง ก็ได้มีการแต่งเนื้อร้องและทำนองเพลง หน่วง ขึ้นมา และก็ได้เลือกเพลง หน่วง ให้เป็นซิงเกิลแรกของรูม 39</string>
		<string>อภิวัชร์ เอื้อถาวรสุข (ชื่อเล่นว่า แสตมป์ (Stamp) แสตมป์ อภิวัชร์ เกิดเมื่อวันที่ 13 พฤษภาคม พ.ศ. 2525 เป็นนักร้อง นักดนตรี และนักแต่งเพลง แสตมป์ เป็นชาวกรุงเทพมหานคร สำเร็จการศึกษาระดับอุดมศึกษาจากคณะสถาปัตยกรรมศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย เขาให้ความสนใจด้านดนตรีตั้งแต่วัยเยาว์ โดยเล่นคีย์บอร์ดและกีตาร์[1] ในระหว่างการเรียนในมหาวิทยาลัย เขาได้มีโอกาสประพันธ์เพลงประกอบละคอนถาปัดเรื่องปริศนาร่วมกับเพื่อนตั้งเป็นวงดนตรี ซึ่งเป็นละคอนปีที่มีเพลงประกอบเพราะๆมากมาย และส่งไปทางสถานีวิทยุคลื่น 104.5 (แฟตเรดิโอ) เขาจึงพลิกผันเข้าสู่วงการดนตรีนับแต่นั้น และได้ร่วมวงกล้วยไทยวงแนวนูเมทัลในตำแหน่งมือกีต้าร์ และต่อมาได้ย้ายไปอยู่วงเซเว่นธ์ซีนในฐานะนักร้องนำสังกัดค่ายเลิฟอีส และออกอัลบั้มแรกในชื่อเดียวกับวง ในปี พ.ศ. 2548</string>
	</array>
</dict>
</plist>
